{% extends 'main.html' %}


{% block content %}
<style>
.container{
  margin: auto;
  width: 50%;
  padding: 20px
}

</style>
<div class="container">
  <div class="container">
    <div class="mb-3">
      <label for="name" class="username   ">Username</label>
      <input type="text" class="form-name" id="usename-input" placeholder="username">
    </div>
  </div>
  
    <div class="container">
      <div class="mb-3">
        <label for="inputState" class="form-label">Screen Status</label>
        <select id="inputState" class="form-select" height="200">
          <option selected>Choose...</option>
          {% for screens in screens %}
           
            
             {%if screens.active %}
          
             <option value= {{screen.id}} >{{screens.name}}</option>
             {%endif%}
          {% endfor%}
        </select>
        <button class="submit">Submit</button>
      </div>
    </div>
    
  
</div>

  {% endblock content %}