{% extends 'main.html' %}


{% block content %}
<style>
.card{
    display: grid ;
}

</style>
{% load static %}
<h1>Smart Gamers</h1>
<div class="card" style="height: 180px;">
    <div class="row">
        {% for room in rooms %}
        <div class="col">
                <div class="card-body">                        
                    <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
                    <img src="{% static 'base/cod.jpg' %}" class="card-img-top" alt="This is a game">
                    <p class="card-text">{{room.description}}</p>
                    <button class="button">Book</button>
                </div>               
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
